
/* Resets */
img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    font-size: italic;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

h5{
    font-size: 23px;
    font-weight: lighter;
}

p{
    font-size: 15px;
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: brown;
}

li{
    list-style: none;
    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: brown;
    }
}

.card-title{
    font-size: 12px;
    font-weight: medium;
}
.card-txt{
    font-size: 5px;
}

#fineart-section{
    margin-top: 50px;

    .center-all{
        display: flex;
        align-items: center;
    }

}

#explorations-section{
    min-height: 100vh;
    padding: 50px 0;

    h5{
        text-align: center;
        padding: 40px 0;
    }

    .modified-cards{
        display: grid;
        grid-template-columns: 35% 35% 35%;

        @media (min-height : 0px) and (max-width : 767px){
            display: grid;
            grid-template-columns: 35%;
        }

        @media (min-height : 768px) and (max-width : 991px){
            display: grid;
            grid-template-columns: 35%;
        }
    }
}

.card{
    width: 300px;
    .card-head{
        img{
            width: 250px; height:200px;
            border-radius: 5px;
        }
    }
}

/* my card*/

.profile-card-5{
    margin-top:20px;
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
    height: 180px;
}
.profile-card-5 h6{
    color:#4E5E30;
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}

#clients-section{
    min-height: 50vh;
    padding: 50px 0;

    h5{
        padding: 40px 0;
    }
    .container{
        .row{
            img{
                width: 100px; height: 70px;
            }
        }
    }
}

#newsletter-section{
    text-align: center;
    width: 100%; height: 50vh;
    background-color: rgb(240, 240, 240);

    h5{
        text-align: center;
        padding: 50px 0;
    }
}

#follow-section{
    width: 100%;
    min-height: 60vh;

    h5{
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .extra-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .brand_name_text{
        background-color: white;
        outline: none;
        border: none;
        width: 200px;
        height: 40px;
        padding: 10px;
        
        /* position: absolute; */
        /* top: 40px; */
        /* bottom: -1520px;
        right: 530px; */
    }
    .follow-images{
        img{
            width: 300px;
            height: 200px;
        }
    }
}

footer{
   min-height: 40vh;
   background-color: rgb(240, 240, 240);
    text-align: center;
    padding: 50px 0;

    .copyright-text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
   nav{
    
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        
        
        li{
            a{
                text-decoration: none;
                color: black;
            }
        }


    }
    
   }
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .form-box{
        padding: 3px 20px;
        border-radius: 5px;
        border: 1px solid black;
        
    }

    input{
        border: none;
        border-radius: 5px;
        padding: 10px 10px;
        width: 650px;
        background-color: transparent;
    }

    button{
        color: black; background-color: rgb(188, 188, 188);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100px; height: 35px;
        
    }
}

.mygrid-container{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
    position: relative;

    .extra-div{
        position: absolute;
        top: 40%;
    }
}


/* ABOUT SECTION */

#About-Section{
    margin-top: 80px;

    .paragraph-center{
        text-align: center;
        margin-top: 40px;
    }

    .About-Pictures{
        margin-top: 90px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;  
        gap: 1px;

        img{
            width: 270px;
        }

        @media (min-height : 320px) and (max-width : 780px){
            margin-top: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr ;  
            gap: 1px;
        }
    }

}

.publications-section{
    margin-top: 50px;
    p{
        text-align: center;
    }
}

/* WELLNESS PROJECT */


.Wellness-Section{
    margin-top: 50px;

    .wellness-padding{
        display: grid;
        grid-template-columns: 1fr 2fr;
        .card-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            
        }
        img{
            width: 200px;
        }
    }
    .container{
        display: grid;
        justify-content: center;
    }
}

object{
    opacity: 40%;
}

.copyright-text{
    p{
        opacity: 60%;
    }
}

/* REASEARCH SECTION */

#Research-Section{
width: 100%;
margin-top: 80px;

img{
    width: 200px;
}

.overflow-y{
    margin-top: 50px;
}

.centralisedtag{
    text-align: center;
    margin-top: 40px;
}

}


#Contact-Section{
    margin-top: 50px;

    .my-form{
        margin-top: 50px;

        form{
            input{
                width: 100%;
                height: 40px;
                border: none;
                border: 1px solid rgb(190, 190, 190);
                border-radius: 5px;
                margin-bottom: 20px;
            }

            textarea{
                width: 100%;
                height: 120px;
                border: none;
                border: 1px solid rgb(190, 190, 190);
                border-radius: 5px;
                margin-bottom: 40px;
            }

            input[value="Send Message"]{
                width: 150px;
                border: none;
                border: 2px solid black;
                background-color: rgb(200, 200, 200);
                text-align: center;
                cursor: pointer;
                

        }
    }
}
}

/* CL MEDIA1 SECTION */

#Articles-Section{
    width: 100%; min-height: 50vh;

    p{
        text-align: center;
        margin-top: 40px;
    }
}


/* More Details Page */
#More-Section{
    h5{
        text-align: center;
    }

    .container{
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }

    .images-camera{
        height: 300px;
        width: 100%;
        background-position: center;
        background-size: cover;
    }

    .centralized-paragragh{
        text-align: center;
    }

    img{
        height: 250px;
        width: 80%;
    }

    .part2-div{
        display: flex;
        justify-content: center;
    }
}